# Memory dumps
.DS_Store

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.csproj.CopyComplete
*.csproj.CoreCompileInputs.cache
*.csprojAssemblyReference.cache
*.csproj.FileListAbsolute.txt
*.dll

bin/
obj/
.idea/